name: docs

on:
  push:
    branches:
    - master
  pull_request:
    types: [opened, synchronize, repoened, edited]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Setup git-crypt
      run: |
        sudo apt-get install ca-certificates bash curl git g++ gnupg make openssh-client openssl
        curl -L https://github.com/AGWA/git-crypt/archive/debian/$VERSION.tar.gz | tar zxv -C /var/tmp
        cd /var/tmp/git-crypt-debian && sudo make && sudo make install PREFIX=/usr/local
        echo "${{ secrets.GPG_PRIVATE_KEY }}" | base64 -d > "$HOME"/git-crypt-key.asc
        gpg --batch --import "$HOME"/git-crypt-key.asc
        gpgconf --kill gpg-agent
        gpg-agent --daemon --allow-preset-passphrase --max-cache-ttl 3153600000
        /usr/lib/gnupg2/gpg-preset-passphrase --preset --passphrase "${{ secrets.GPG_KEY_PASS }}" "${{ secrets.GPG_KEY_GRIP }}"

    - name: Setup Graphviz environment
      run: |
        sudo apt-get install graphviz

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
      
    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip # This path is specific to Ubuntu
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install pydeps
        pip install pdoc3

    - name: Unlock git-crypt files
      run: |
        git-crypt unlock

    - name: Generate project dependency graph
      run: |
        pydeps --verbose -o docs/images/dependency-graph.svg telereddit

    - name: Generate documentation
      run: |
        rm -rf docs/telereddit
        pdoc --html --output-dir="docs/" --template-dir="docs/templates" --force .
      env:
        TELEREDDIT_MACHINE: GITHUB

    - name: Commit changes
      uses: EndBug/add-and-commit@v4
      with:
        message: "Commit from Github Actions: docs workflow changes"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Deploy docs to Gtihub Pages
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: docs/telereddit
